.app-container {

  min-height: 100vh;
}

.custom-container {

  margin: 0 20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.sidebar {

  min-width: 70%;
  padding: 10px;
  position: fixed;
}

.mat-icon, .mat-card-avatar {

  margin-right: 10px;
}
