<div *ngIf="events && !noEvents">
  <mat-card class="event-card" *ngFor="let event of events">
    <mat-card-header>
      <div mat-card-avatar class="bde-image" style="background: url(https://material.angular.io/assets/img/examples/shiba2.jpg)"></div>
      <mat-card-title>{{ event.name }}</mat-card-title>
      <mat-card-subtitle><a [routerLink]="['/bde', event.bde.id]">{{ event.bde.name }}</a></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ event.date | date:'dd/MM/yy' }}
        {{ event.description }}
        {{ event.followersNumber}}
        {{ event.hypedNumber }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [color]="event.isHyped ? 'warn' : 'disabled'" (click)="getHype(event)">
        <mat-icon>whatshot</mat-icon>
        <span class="cdk-visually-hidden">I'm hyped</span>
      </button>
      <mat-progress-bar mode="determinate" [value]="(event.hypedNumber / event.followersNumber) * 100" color="warn"></mat-progress-bar>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="noEvents" class="no-events">
  <img src="../../../assets/jeune.png" class="notFoundImg"/>
  <p>Aucune événement trouvés</p>
  <button routerLink="bde" class="link" mat-raised-button color="primary">Commence à suivre un BDE !</button>
</div>
